# Ignorar completamente a pasta de instâncias nas estatísticas
instancias-num/** linguist-documentation
instancias-num/** -linguist-detectable

# Forçar reconhecimento correto de linguagens
*.c linguist-language=C
*.h linguist-language=C
*.py linguist-language=Python

# Ignorar binários e arquivos gerados
*.exe linguist-generated
*.dat linguist-generated
*.txt linguist-documentation