# Tratar arquivos .in como dados (não código)
*.in linguist-vendored
*.in -linguist-detectable

# Para arquivos em subdiretórios específicos:
instancias-num/* linguist-vendored

# Forçar reconhecimento correto de linguagens
*.c linguist-language=C
*.h linguist-language=C
*.py linguist-language=Python

# Ignorar binários
*.exe linguist-generated

#Lida com line endings
* text=auto
